{% extends 'base.html' %}
{% block head %}
<title>The Cooker</title>

{% endblock %}
{% block body %}
<style>
    #image{
        max-width: 300px;
    }
    h1{
        font-size: larger;
    }
    strong{
        font-size: larger;
    }
    #filter{
        background-color: rgb(239, 247, 168);
    }
</style>
<div class="container text-center">
  <div class="row">
    {% for blog in blogs %}
    {% if forloop.counter0|divisibleby:4 %}
    {% endif %}

    <div class="col">
        <a class="btn col-link" href="{% url 'blog_about_page' blog.id %}">
            {% if blog.image %}
            <img id='image' src="{{ blog.image.url }}">
            {% endif %}
            <br>
            <strong>{{ blog.title }}</strong>
            <p>{{ blog.time }}</p>
        </a>
    </div>

    {% if forloop.last or forloop.counter0|add:1|divisibleby:4 %}

    {% endif %}
    {% endfor %}
    </div>
</div>

{% endblock %}
